<h2>Show job</h2>

<ul>

  <li>
    <strong>Job name:</strong>
    <%= @job.job_name %>
  </li>

  <li>
    <strong>Job code:</strong>
    <%= @job.job_code %>
  </li>

</ul>

<%= link "Edit", to: job_path(@conn, :edit, @job) %>
<%= link "Back", to: job_path(@conn, :index) %>
